USE [master]
GO
/****** Object:  Database [MTW]    Script Date: 09.06.2023 12:45:13 ******/
CREATE DATABASE [MTW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MTW', FILENAME = N'F:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\MTW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MTW_log', FILENAME = N'F:\sql\MSSQL15.MSSQLSERVER\MSSQL\DATA\MTW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MTW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MTW]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 09.06.2023 12:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[country] [nvarchar](50) NULL,
 CONSTRAINT [PK_manufacturers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[models]    Script Date: 09.06.2023 12:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[models](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_models] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 09.06.2023 12:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modelId] [int] NULL,
	[name] [nvarchar](250) NULL,
	[description] [nvarchar](max) NULL,
	[cost] [money] NULL,
	[count] [int] NULL,
	[manufacturerId] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 09.06.2023 12:45:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[manufacturers] ON 

INSERT [dbo].[manufacturers] ([id], [name], [country]) VALUES (1, N'Ruhi', N'Германия')
SET IDENTITY_INSERT [dbo].[manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[models] ON 

INSERT [dbo].[models] ([id], [name]) VALUES (1, N'Гитара')
SET IDENTITY_INSERT [dbo].[models] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id], [modelId], [name], [description], [cost], [count], [manufacturerId]) VALUES (1, 1, N'Moshi', N'Гитара детская', 1500.0000, 5, 1)
INSERT [dbo].[products] ([id], [modelId], [name], [description], [cost], [count], [manufacturerId]) VALUES (2, 1, N'Moshi 2', N'Гитара тестовая', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [login], [password], [name]) VALUES (1, N'admin', N'admin', N'Admin')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_manufacturers] FOREIGN KEY([manufacturerId])
REFERENCES [dbo].[manufacturers] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_manufacturers]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_models] FOREIGN KEY([modelId])
REFERENCES [dbo].[models] ([id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_models]
GO
USE [master]
GO
